* {
    padding: 0;
    margin: 0;
}

/* html {
    font-size: 62.5%;
} */

a {
    text-decoration: none;
    color: white;
}

body {
    color: #ffffff;
    display: flex;
    background-color: #18212e;
}

header {
    background-color: #232f3c;
    width: 20%;
    flex-direction: column;
    display: flex;
    padding: 50px 40px;
}

.foto {
    width: 70%;
    border-radius: 100%;
    border: 5px solid #000000;
    margin-left: 10%;
}

.sessao {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titulo {
    border-left: 4px solid #54b689;
    font-family: 'Roboto';
    padding-left: 12px;
    font-weight: 700;
}

.texto,
li,
.icon-text p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}

.linha {
    border: 2px solid #34404f;
    width: 100%;
    margin: 20px 0;
}

.icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.endereco {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes-sociais {
    display: flex;
    gap: 30px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: underline;
}

.social img {
    width: 40px;
}

.container {
    width: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-completo {
    color: #61d4b9;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 400;
}

.sessao-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sessao-container .cards,
.sessao-container .experiencia,
.sessao-container .atuacao,
.sessao-container .formacao {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
}
.sessao-container .titulo {
    width: 100%;
}

.formacao {
    padding-inline: 20px;
    border-inline: 4px solid #34404f;
}

ul,
.areas-atuacao {
    padding-left: 36px;
}

.areas-atuacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-text {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-text {
    display: flex;
    width: 100%;
}

.conhecimentos {
    font-size: 30px;
    margin-block: 30px 50px;
}

.card1,
.card2 {
    padding: 20px;
    width: max-content;

    background: rgba(233, 233, 233, 0.05);
    box-shadow: 2px 11px 27px -5px rgba(0, 0, 0, 0.25),
        inset 4px 4px 6px -6px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);

    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    align-items: center;
    justify-content: center;
}
